
.card__btn {
    display: block;
    margin-left: auto;
    background-color: white;
    border: none;
    padding: 0.5em 1.5em;
    font-size: 1.2rem;
    border-radius: 0.7em;
    font-weight: 400;
    border: 2px solid rgb(197, 100, 30, 20%);
    background-color: rgba(73, 184, 58, 0.568);
    transition: transform 200ms ease;

    &:hover {
        transform: scale(1.2);
        box-shadow: 0 0 1em rgba(73, 175, 42, 0.336);
    }
}